body {
    background-image: url("thu-tuong-nguyen-xuan-phuc-kiem-tra-cong-tac-khac-phuc-hau-qua-bao-so-1-tai-nam-dinh-1647920111.jpg");
    background-repeat: no-repeat;
    background-position: top;
    margin-right: 200px;
    background-attachment: scroll;
  }