/*Text-block*/
.text-block {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 180px;
}
.text-block:first-child {
  color: #181818;
}
.text-block:nth-child(2) {
  color: #181818;
}
.text-block:last-child {
  color: #181818;
}
.rounded-corners {
  border-radius: 15px;
}

.image-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-top: 150px;
}
.image {
  width: 300px;
  height: 250px;
  border-radius: 15px;
}
