.text-block {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .text-block:first-child {
    color: #181818;
  }
  .text-block:nth-child(2) {
    color: #181818;
  }
  .text-block:last-child {
    color: #181818;
  }
  .rounded-corners {
    border-radius: 15px;
  }
  
 